.page-header {
    margin-top: 15px;
    font-size: 36px;
    text-align: center;
}

.user-info {
    width: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
}

.user-info-input {
    display: flex;
    margin-top: 30px;
    flex-wrap: nowrap;
}

.titles, .inputs {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100px;
}

.inputs {
    margin-left: 20px;
}

.titles span {
    display: block;
}

.inputs input {
    display: block;
}

.confirm-panel {
    margin-top: 25px;
}

.input-title {
    font-size: 20px;
    text-align: right;
}

.publish-input {
    cursor: pointer;
    margin-left: 10px;
    width: 15px;
    height: 15px;
}

.confirm-panel button {
    font-size: 20px;
    padding: 3px;
}

.canceling {
    cursor: pointer;
    background-color: rgb(255, 215, 215);
}

.saving {
    cursor: pointer;
    background-color: rgb(204, 255, 202);
    margin-left: 10px;
}

input {
    font-size: 20px;
}