.main-header {
    margin-top: 15px;
    font-size: 36px;
    text-align: center;
}

.user-list {
    position: relative;
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.user-record {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    border: solid 3px rgb(28, 28, 28);
    margin-top: 20px;
    padding-block: 5px;
}

.user-list-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-top: 20px;
    padding-inline: 15px;
    padding-top: 15px;
}

.user-list-header-prop {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.user-record-prop {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.user-record-button-cont {
    margin-inline: 8px;
    margin-block: 10px;
}

.user-record-button {
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding-inline: 20px;
    padding-block: 7px;
}

.edit-user-link {
    background-color: rgb(28, 28, 28);
}

.delete-user-link {
    background-color: rgb(177, 24, 24);
}